<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="recurly" type="Recurly.Configuration.RecurlySection,Recurly"/>
  </configSections>
  <recurly username="api-test@buzz-referrals-test.com" password="ce6b3e2d65b940d2b8ea9750fa2a509a" subdomain="buzz-referrals-test"
           environment="Sandbox" />
</configuration>